<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KUSF 데이터분석 조추첨 사이트</title>
    
    <link rel="stylesheet" href="style.css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <!-- vue.js cdn -->
    <script src="https://unpkg.com/vue@3"></script> 
</head>
<body>
  <div id="app">
    <div id="title">KUSF 데이터분석 프로젝트 조편성</div>

    <div id="member">
      <div v-for="(a, i) in student" :key="i" >{{a}}</div>
    </div>

    <div id="btn">
      <button type="button" class="btn btn-primary" @click="choose()" style="width: 500px;">추첨</button>
    </div>

    <div id="result">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">조원</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1조</th>
              <td class="group">
                  <div v-for="(a, i) in group1" :key="i" >{{a}}</div>
              </td>
            </tr>
            <tr>
              <th scope="row">2조</th>
              <td class="group">
                  <div v-for="(a, i) in group2" :key="i" >{{a}}</div>
              </td>
            </tr>
            <tr>
              <th scope="row">3조</th>
              <td class="group">
                  <div v-for="(a, i) in group3" :key="i" >{{a}}</div>
              </td>
            </tr>
            <tr>
              <th scope="row">4조</th>
              <td class="group">
                  <div v-for="(a, i) in group4" :key="i" >{{a}}</div>
              </td>
            </tr>
            <tr>
              <th scope="row">5조</th>
              <td class="group">
                  <div v-for="(a, i) in group5" :key="i" >{{a}}</div>
              </td>
            </tr>
          </tbody>
        </table>
    </div>   

  </div>

<script>
  const { createApp } = Vue

  createApp({
    data() {
      return {
        maxnum: 4,
        student: ['이준서', '손도현', '장현우', '이은정', '이현석', '박진영', '강지아', '박건혁', '오은지', '유지혜', 
        '김용빈', '이유정', '최승연', '정승은', '조윤아', '채주원', '한지원', '홍의진', '원민기'],
        group1: [],
        group2: [],
        group3: [],
        group4: [],
        group5: [],
        group_num: 1,
        clicked_cnt: 0,
      }
    },

    methods :{

      shuffle(array) {
            array.sort(() => Math.random() - 0.5);
      },

      sleep(ms) {
        return new Promise(
            resolve => setTimeout(resolve, ms)
          );
      },

      async choose(){
        this.clicked_cnt++;
        this.shuffle(this.student);
        var choosed = this.student.pop();

        if (this.group1.length < this.maxnum){
          this.group1.push(choosed);
        }

        else if (this.group2.length < this.maxnum){
          this.group2.push(choosed);
        }

        else if (this.group3.length < this.maxnum){
          this.group3.push(choosed);
        }

        else if (this.group4.length < this.maxnum){
          this.group4.push(choosed);
        }

        else if (this.group5.length < this.maxnum){
          this.group5.push(choosed);
        }

        if (this.clicked_cnt != 0 & this.clicked_cnt % 4 == 0){
          await this.sleep(100);
          alert(this.group_num + "조 완성!")
          this.group_num++;
        }
      },
    }
  }).mount('#app')

</script>

</body>
</html>