<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로젝트 랜덤 조추첨 사이트</title>
    
    <link rel="stylesheet" href="style.css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <!-- vue.js cdn -->
    <script src="https://unpkg.com/vue@3"></script> 
</head>
<body>
  <div id="app">
    
    <div id="container">
      <div id="title">프로젝트 랜덤 조추첨 사이트</div>
      
      <h2>조 개수 입력</h2>
      <input type="text" v-model="group_num" class="form-control">
      <div>입력된 조 개수: {{group_num}}</div>
      <div>조당 최대 인원: {{maxnum}}</div>

      <br><br>

      <h2>학생 명단 입력</h2>
      <p>학생 이름을 콤마(,)로 구분지어 입력해주세요. ex) 심교훈, 도준혁, 박수호, 최윤식</p>
      <textarea v-model="student" id="students" name="students" cols="30" rows="5" class="form-control"></textarea>
      <button type="button" class="btn btn-primary" @click="submit()" style="width: 100%">제출</button>

      <br><br>

      <h2>조 추첨</h2>
      <button type="button" class="btn btn-primary" @click="choose()" style="width: 100%">추첨</button>
      
      <br><br>

      <h2>조편성 결과</h2>
      
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">조원</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(a, i) in range(1, group_num)" :key="a">
            <th scope="row">{{a}}조</th>
            <td :id="a">{{group[`group`+a]}}</td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary" @click="reset()" style="width: 100%">리셋</button>
  
    </div>

  </div>

<script>
  const { createApp } = Vue

  createApp({
    data() {
      return {
        student: '', // 학생1, 학생2, 학생3, 학생4, 학생5, 학생6, 학생7, 학생8, 학생9, 학생10, 학생11, 학생12, 학생13, 학생14, 학생15, 학생16, 학생17, 학생18, 학생19, 학생20
        maxnum: null,
        group_num: null,
        clicked_cnt: 0,
        group: {},
      }
    },

    methods :{
      range(start, end) {
        return Array.from({ length: end - start + 1 }, (_, index) => start + index);
      },

      shuffle(array) {
            array.sort(() => Math.random() - 0.5);
      },

      sleep(ms) {
        return new Promise(
            resolve => setTimeout(resolve, ms)
          );
      },

      reset() {
        this.clicked_cnt = 0;
        this.student = '';
        this.maxnum = null;
        this.group_num = null;
        this.group = {};
      },

      submit() {
        this.student = this.student.split(',');
        if (this.student.length % this.group_num == 0){
          this.maxnum = parseInt(this.student.length / this.group_num);
        } else {
          this.maxnum = parseInt(this.student.length / this.group_num) + 1;
        };

        for (var i = 1; i <= this.group_num; i++){ 
          this.group[`group`+i] = [];
        }
        console.log(this.group);
      },

      async choose(){        
        if (this.student.length == 0){
          alert('조편성이 완료되었습니다.');
          return 0;
        }

        if (this.clicked_cnt >= this.group_num){
          this.clicked_cnt = 1;
        } else {
          this.clicked_cnt++;
        }
        this.shuffle(this.student);
        var choosed = this.student.pop();


        this.group[`group`+this.clicked_cnt].push(choosed);
        console.log(this.group);

      },
    }
  }).mount('#app')

</script>

</body>
</html>