@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#container {
    width: 60%;
    margin: auto; 
}

#students {
    background-color: lightskyblue;
}

#member {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    border: 1px solid lightgray;
    background-color: lightskyblue;
    padding: 20px;
}

table {
    text-align:center;
}

#title {
    text-align: center;
    font-size: x-large;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'SBAggroB';
}

.group {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

